/*
COLORS
Hex       RGB
#000000             (0,0,0)
#404040             (64,64,64)
#7f7f7f             (127,127,127)
#bfbfbf             (191,191,191)
#ffffff             (255,255,255)

MEDIA QUERIES
desktop             @media (min-width: 1281px) {}
laptop              @media (min-width: 1025px) and (max-width: 1280px) {}
tablet landscape    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}
tablet portrait     @media (min-width: 768px) and (max-width: 1024px) {}
mobile              @media (min-width: 320px) and (max-width: 480px) {}
*/

@keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}

@keyframes flip {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

.flip {
  -webkit-animation: flip 1000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip 1000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes flicker {
  0%,
  100% {
    opacity: 1;
    background: #fff;
    color: #000;
  }
  42% {
    opacity: 0;
    background: #000;
    color: #fff;
  }
  43% {
    opacity: 1;
    background: #fff;
    color: #000;
  }
  48% {
    opacity: 0;
    background: #000;
    color: #fff;
  }
  49% {
    opacity: 1;
    background: #fff;
    color: #000;
  }
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
    background: #fff;
    color: #000;
  }
  42% {
    opacity: 0;
    background: #000;
    color: #fff;
  }
  43% {
    opacity: 1;
    background: #fff;
    color: #000;
  }
  48% {
    opacity: 0;
    background: #000;
    color: #fff;
  }
  49% {
    opacity: 1;
    background: #fff;
    color: #000;
  }
}

.flicker {
  -webkit-animation: flicker 1000ms linear 5s both;
  animation: flicker 1000ms linear 5s both;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

* {
  /* font-family: "Source Code Pro", monospace; */
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html.sr .load-hidden {
  visibility: hidden;
}

body {
  margin: 0;
  font-size: 22px;
  height: 100%;
  color: #000;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 22px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body {
    font-size: 12px;
  }
}

main {
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.me {
  padding: 0 0 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 85vh;
  overflow: hidden;
}

.me .me__header {
  width: 100%;
  margin: 16px 0 24px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.me .me__header * {
  font-family: "Unica One", monospace;
  font-size: 1.5em;
  font-weight: 200;
  color: #404040;
  text-transform: uppercase;
  letter-spacing: 0em;
}

.me .me__content {
  height: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: opacity 400ms ease-in-out;
}

.me .me__description {
  margin-top: 2em;
  width: 75%;
  font-size: 3em;
  font-weight: 400;
  line-height: 1.2em;
  cursor: pointer;
}

.me .long .me__description {
  width: 90%;
  font-size: 1.4em;
  line-height: 1.4em;
}

.me .me__description strong {
  font-weight: 600;
}

.me .me__more {
  margin-left: 1em;
  font-size: 2em;
  color: #7f7f7f;
  line-height: 1.2em;
  cursor: pointer;
}

.me .me__more::after {
  content: "►";
}

.me .long .me__more::after {
  content: "◄";
}

@media (min-width: 768px) and (max-width: 1024px) {
  .me {
    height: 92vh;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .me {
    height: 85vh;
  }

  .me .me__content {
    height: 100%;
  }

  .me .me__description {
    margin-top: 0;
    width: 100%;
    overflow: hidden;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    -webkit-line-clamp: 22;
    -webkit-box-orient: vertical;
  }

  .me .me__more {
    margin-left: 0;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2em 14em 72px 14em;
  overflow-x: hidden;
}

.projects .projects__header {
  margin: 0 0 1em 0;
  font-size: 2em;
  color: #7f7f7f;
  cursor: pointer;
}

.projects .projects__header .bounce {
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: both;
}

.projects .projects__list {
  list-style-type: none;
  padding-left: 0;
}

.projects .project {
  margin: 0 0 72px 0;
}

.projects .project > div {
  margin-bottom: 24px;
}

.projects .project .project__title {
  font-size: 3em;
  font-weight: 700;
}

.projects .project .project__prefix {
  font-weight: 400;
}

.projects .project .project__description {
  font-size: 1.2em;
  font-weight: 300;
  color: #404040;
}

.projects .project .project__me {
  font-size: 1.2em;
  font-weight: 300;
  color: #404040;
}

.projects .project .project__tags,
.projects .project .project__tags * {
  font-weight: 200;
  color: #7f7f7f;
}

.projects .project .project__tags > * {
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 5px;
  border: 1px dashed #bfbfbf;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .projects {
    padding: 3em 3em 36px 3em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .projects {
    padding: 3em 3em 36px 3em;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .projects {
    padding: 3em 3em 36px 3em;
  }
}
